* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.list {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.list-item {
    width: calc((100% - 2*24px) / 3);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.list-item-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-item-wrap-text {
    padding: 16px;
}

.list-item-title {
    margin-bottom: 10px;
}

/* 




.list-item:nth-child(1) {
  margin-top: 52px;
}
.list-item:nth-child(4) {
  margin-top: -52px;
} */